@use '../variaveis';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    display: inline-block; 
    border-style: double;
    border-color: variaveis.$color2;
    border-radius: 10px;

    &--primary {
        color: variaveis.$textColor;
        background-color: variaveis.$color5;
    }


    @media (max-width: 640px) and (min-width: 100px) {
        width: 40%;
        padding: 8px;
        font-size: calc(1px + 1.0vw); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 640px) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 1024px) {
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
       }   
}

  


  

 
 
