@use '../variaveis';

.infos-bar {
    padding: 50px 24px;
    background-color:variaveis.$textColor;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 10px;
    border-style:double;
    border-color:variaveis.$color2;
   
  
    
   &__infos {
        display: flex;
        gap: 40px;
        flex: 1; 
        flex-wrap: wrap; 
       
       

     &__item {
        font-size: 14px;
        color: variaveis.$secundaryTextColor;
        flex: 1; 
        margin: 0 10px; 
       

        }

        b {
            font-size: 18px;
             display: block;
             color:variaveis.$secundaryTextColor;
             
         }
   }

   @media(max-width:1024px){
    &__infos{
        gap: 16px;
    }
   }

   @media (max-width:640px){
        display: block;

        &__infos {
            display: block;
        }

        &__item {
            margin-bottom: 24px;
        }
   }

   @media(max-width:1024px) {
    &__infos{
        gap:16px;
    }

   }
}