@use 'variaveis';

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/GettyImages-470251282-1422x800.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center; 
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variaveis.$secundaryTextColor;
        content: '';
        opacity: .3;
    }

    &__text {
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 3.125rem;
        line-height: 3.5rem; 
        text-align: center;
        font-weight: bold;
    }

    &__logo {
        width: 250px;
        margin-left: -200px;
        margin-bottom: 350px;
        margin-top: -50px;
        height: 80px;
        display: flex;
        border-radius: 15px;
        border-style: double;
    }

    // Responsividade para telas menores que 1024px
    @media (max-width: 1024px) {
        padding: 50px 0;

        &__text {
            font-size: 2.5rem; 
            line-height: 3rem; 
            margin: 48px 0;
        }

        &__logo {
            width: 200px;
            margin-left: 150px;
            margin-bottom: 300px;
            margin-top: -40px;
        }
    }

    // Responsividade para telas menores que 768px
    @media (max-width: 768px) {
        padding: 40px 0;

        &__text {
            font-size: 2rem; 
            line-height: 2.5rem; 
            margin: 36px 0;
        }

        &__logo {
            width: 150px;
            margin-left: 150px;
            margin-bottom: 200px;
            margin-top: -30px;
        }
    }

    // Responsividade para telas menores que 640px
    @media (max-width: 640px) {
        padding: 30px 0;

        &__logo {
            width: 50%;
            margin-left: 25%;
        }

        &__text {
            font-size: 1.375rem; 
            line-height: 1.5rem; 
            margin: 24px 0;
        }
    }

    // Responsividade para telas de 0px a 639px
    @media (max-width: 639px) {
        padding-top: 20px;
        padding-bottom: 40px;

        &__text {
            font-size: 1.125rem; // 18px
            line-height: 1.25rem; // 20px
            margin: 16px 0;
        }

        &__logo {
            width: 75%;
            margin-left: 12.5%;
            margin-bottom: 150px;
            margin-top: -20px;
        }
    }

    // Ajuste adicional para telas muito pequenas
    @media (max-width: 320px) {
        background-position: top center; // Ajusta a posição para melhor visibilidade em telas muito pequenas

        &__text {
            font-size: 1rem; // 16px
            line-height: 1.25rem; // 20px
            margin: 12px 0;
        }

        &__logo {
            width: 80%;
            margin-left: 10%;
            margin-bottom: 100px;
            margin-top: -10px;
        }
    }
}
