@use 'hero';
@use './components/infos_bar.scss';
@use 'components/buttons';
@use 'event';
@use './variaveis';
@use './components/gps.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
    color: variaveis.$textColor;
    list-style: none;
}


.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    

     // tablet e  telas menores

     @media(max-width:1024px){
        max: width 100%; 
    }

    @media(max-width:640px) {
        max-width: 80%;
        
    }

  

   

}

.footer {
       
    background-color:variaveis.$color2;
    text-align: center;
    padding: 3%;

    &__one {
        width: 5%;
        text-align: center;
    }
    
  
}